<%- include("partials/header") %>

<%- include("partials/nav") %>
<h1>Forget page</h1>

<form action="/send-mail" method="POST">

    

    <input type="email" name="email" placeholder="example@gmail.com" id="" class="form-control w-25 mb-3">

   <!-- <textarea name="message" placeholder="Enter message here" class="form-control w-25 mb-3" id="" cols="30" rows="10"></textarea> -->

    <button class="btn btn-success mb-3">Send mail</button>

</form>

<%- include("partials/footer") %>