<%- include("partials/header")%>

<link rel="stylesheet" href="/stylesheets/home.css">

<%- include("partials/nav")%>

<!-- <h1>This is homepage</h1> -->
<div class="main ">
    <div class="left">
<!-- <img src="https://media.istockphoto.com/id/1342227005/photo/man-using-mobile-phone-with-financial-application-on-screen.jpg?s=1024x1024&w=is&k=20&c=xmQPoWscD31cnmYn1ArT8vkuMUui6tXtIArTU_BVvsA=" width="60%" alt=""> -->
<img src="https://thumbs.dreamstime.com/b/budget-expense-tracker-phone-app-african-budget-expense-tracker-phone-app-african-using-organizer-226480970.jpg?w=1400" alt="">
</div>

<div class="right ">
<h1>Expense Tracker</h1>
<p>Expense management refers to the systems deployed by a business to process, pay, and audit employee-initiated expenses. These costs include, but are not limited to, expenses incurred for travel and entertainment. Expense management includes the policies and procedures that govern such spending, as well as the technologies and services utilized to process and analyze the data associated with it.

 </p>

<button class="btn1 btn btn-primary px-4"><a class="text-decoration-none text-white" href="/signup">Signup</a></button>

<button class="btn2 btn btn-danger px-4"> <a class="text-decoration-none text-white" href="/signin">Signin</a></button>
  


</div>

</div>

<%- include("partials/footer")%>