<%- include("partials/header") %>

<%- include("partials/nav") %>

<h1>Reset password</h1>

<form action="/resetpassword/<%= id%>" method="POST">

    <input type="password" name="password" placeholder="New password" id="">
    <button>Reset password</button>

</form>

<%- include("partials/footer") %>