<%- include("partials/header") %>

<%- include("partials/nav") %>
<h1>Signin page</h1>

<form action="/signin" method="POST">

    <input type="text" placeholder="Username" name="username" class="form-control w-25 mb-3">

    

    <input type="password" name="password" placeholder="Password" id="" class="form-control w-25 mb-3">

    <button class="btn btn-success mb-3">Login</button>

    <button class="btn btn-primary mb-3 "><a class="text-white text-decoration-none" href="/forget">Forget</a></button>

    <p>Doesn't have  an account? <a href="/signup">Signup</a></p>

</form>

<%- include("partials/footer") %>