nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    background-color: royalblue;
    padding-right: 2vmax;
    padding: 1vmax;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
}